@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
@layer base {
  html {
    font-family: "Khula", system-ui, sans-serif;
  }
  body {
    background-color: #ffffff;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .layout {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
  }

  /* Dark mode styles */
  .dark body {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .dark .layout {
    background-color: #1a1a1a;
  }
} 

